@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body{
	
	background: cadetblue;
	font-family: "Poppins", sans-serif;
}

.center{
	font-size: large;
	position: absolute;
	background: #F1F3F6;
	color: rgb(var(--color));
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	width: 300px;
	height: 290px;
	
}

.center2{
	font-size: large;
	position: absolute;
	background: #F1F3F6;
	color: rgb(var(--color));
	left: 15%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	width: 300px;
	height: 500px;
	
}

.center3{
	font-size: large;
	position: absolute;
	background: #F1F3F6;
	color: rgb(var(--color));
	left: 70%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	width: 650px;
	height: 300px;
	
}

.center4{
	font-size: large;
	position: absolute;
	background: #F1F3F6;
	color: rgb(var(--color));
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	width: 300px;
	height: 370px;
	
}

.center5{
	font-size: large;
	position: absolute;
	background: #F1F3F6;
	color: rgb(var(--color));
	left: 50%;
	top: 100%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	width: 1360px;
	height: 500px;
	
}

.center6{
	font-size: large;
	position: absolute;
	background: #F1F3F6;
	color: rgb(var(--color));
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	width: 350px;
	height: 320px;
	
}

.center7{
	font-size: large;
	position: absolute;
	background: #F1F3F6;
	color: rgb(var(--color));
	left: 50%;
	top: 43%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	width: 300px;
	height: 350px;
	
}

.center8{
	font-size: large;
	position: absolute;
	background: #F1F3F6;
	color: rgb(var(--color));
	left: 50%;
	top: 43%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	width: 300px;
	height: 300px;
	
}

.center9{
	font-size: large;
	position: absolute;
	background: #F1F3F6;
	color: rgb(var(--color));
	left: 50%;
	top: 43%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	width: 300px;
	height: 300px;
	
}

.center10{
	font-size: large;
	position: absolute;
	background: #F1F3F6;
	color: rgb(var(--color));
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	width: 500px;
	height: 500px;
	
}

.center11{
	font-size: large;
	position: absolute;
	background: #F1F3F6;
	color: rgb(var(--color));
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	width: 500px;
	height: 700px;
	
}

.center12{
	font-size: large;
	position: absolute;
	background: #F1F3F6;
	color: rgb(var(--color));
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	width: 500px;
	height: 550px;
	
}

.tablaCursos{
	font-size: large;
	position: absolute;
	background: #F1F3F6;
	color: rgb(var(--color));
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	width: 1100px;
	height: 500px;
	
}

.tablaCursos3{
	font-size: large;
	position: absolute;
	background: #F1F3F6;
	color: rgb(var(--color));
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	width: 1500px;
	height: 500px;
	
}

.tablaCursos4{
	font-size: large;
	position: absolute;
	background: #F1F3F6;
	color: rgb(var(--color));
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	width: 1200px;
	height: 500px;
	
}


.buscarCarrera{
	font-size: large;
	position: absolute;
	background: #F1F3F6;
	color: rgb(var(--color));
	left: 25%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	width: 300px;
	height: 370px;
	
}

.buscarCarrera2{
	font-size: large;
	position: absolute;
	background: #F1F3F6;
	color: rgb(var(--color));
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	width: 600px;
	height: 400px;
	
}

.tablaCursos2{
	font-size: large;
	position: absolute;
	background: #F1F3F6;
	color: rgb(var(--color));
	left: 62%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	width: 1010px;
	height: 500px;
	
}



.tablaCursos5{
	font-size: large;
	position: absolute;
	background: #F1F3F6;
	color: rgb(var(--color));
	left: 50%;
	top: 100%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	width: 1250px;
	height: 500px;
	
}

.tablaCursos6{
	font-size: large;
	position: absolute;
	background: #F1F3F6;
	color: rgb(var(--color));
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	width: 1450px;
	height: 500px;
	
}

.tablaCursos7{
	font-size: large;
	position: absolute;
	background: #F1F3F6;
	color: rgb(var(--color));
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	width: 1200px;
	height: 500px;
	
}

.tablaNotasAlumnos{
	font-size: large;
	position: absolute;
	background: #F1F3F6;
	color: rgb(var(--color));
	left: 50%;
	top: 100%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	width: 500px;
	height: 370px;
	
}

.tablaCarreras{
	font-size: large;
	position: absolute;
	background: #F1F3F6;
	color: rgb(var(--color));
	left: 65%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	width: 700px;
	height: 370px;
}

.tablaProfesores{
	font-size: large;
	position: absolute;
	background: #F1F3F6;
	color: rgb(var(--color));
	left: 50%;
	top: 100%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	width: 1450px;
	height: 400px;
}

.tablaProfesores2{
	font-size: large;
	position: absolute;
	background: #F1F3F6;
	color: rgb(var(--color));
	left: 50%;
	top: 100%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	width: 1200px;
	height: 400px;
}

.space{
	width: 21px;
	height: 30px;
}

.campoboton{
	display: inline-flex;

}

.campoboton form{
	display: inline-flex;
}
.campoboton button{
	display: inline-block;
	background-color: #8A2BE2;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	border-radius: 10px;
	font-size: large;
	width: 100px;
}



.campoboton2 form{
	display: inline-flex;
}
.campoboton2 button{
	display: inline-block;
	background-color: #8A2BE2;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	border-radius: 10px;
	font-size: large;
	width: 100px;
}


button {
	background-color: #8A2BE2;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	border-radius: 10px;
	font-size: large;
	width: 200px;
}



button:hover {
	opacity: 0.8;
	display: inline-block;
 	align-self: flex-end;
}

.agregar{
	position: absolute;
	right: 5%;
	top: 80%;
}

.cerrar{
	position: absolute;
	right: 4%;
	top: 10%;
}

select{
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 75%;
	border-radius: 10px;
	font-size: large;
	width: 250px;
	height: 40px;;
}

  
input[type=text], input[type=password], input[type=number]  {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 10px;
  }


  .topnav {
	background-color: #F1F3F6;;
	overflow: hidden;
	font-size: x-large;
	color:black;
	border-radius: 10px;
	padding: 14px 16px;
	text-align: center;
  }
  

  .topnav a {
	float: left;
	color: #8A2BE2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;

  }
  

  .NuevaBusqueda a:hover {
	background-color: #ddd;
	color: black;
  }
  
  .NuevaBusqueda a {
	color: #8A2BE2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	left: 50%;
	
  }
  

  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }

  .topnav a.active {
	background-color: #04AA6D;
	color: white;
  }
  
  table, th, td {
	border: 1px solid;
	border-radius: 10px;
	background-color: #ddd;
  }
 
